<section class='action_panel' ng-controller="Keywords">
<div class='keywords'>
    <div ng-show='isSelected() == 1'>

        <div class='actions'>
            <button ng-disabled="workflowChange()" ng-click='savekeywordWorkflow()'>Save</button>
            <button ng-hide="selectedComponent()" ng-click='deletekeywordWorkflow()'>Delete</button>

        </div>
        <div class='w_detail_class'>
            <div>created by :<span><small>{{dataTransfer.data[0].created_by}}</small></span><span><small>{{dataTransfer.data[0].created_at}}</small></span></div>
            <div>Modified by :<span><small>{{dataTransfer.data[0].modified_by}}</small></span><span><small>{{dataTransfer.data[0].modified_at}}</small></span></div>
        </div>
        <style>
        #trash { float: right; width: 50px; min-height: 50px; padding: 1%; }
                </style>
                <div  trash id='trash' class='trash' ng-if="dropworkflow.length > 0 ">
                    <li title="Delete" id="delete_item" class="ui-state-default ui-corner-all" ng-click="removeSuiteTests($event)">
                        <span class="ui-icon ui-icon-trash"></span>
                    </li>
                </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Function Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody sortable>
                <tr drag_d class='testcomp new' id="{{item.object_id}}" ng-model='dropworkflow' ng-repeat="item in dropworkflow track by $index">
                    <td><input disabled class='index' type='text' ng-model="item.execution_order" /></td>
                    <td class='new' id="{{item.object_id}}">{{item.object_name}}</td>
                    <td class='new' id="{{item.object_id}}">{{item.object_description}}</td>
                </tr>
                <tr id='{{component.object_id}}' ng-click="select($event)" class="testcomp" ng-repeat="component in dataTransfer.data[1].workflow  | orderBy:'execution_order'">
                    <td><input disabled class='index' type='text' ng-model="component.execution_order" /></td>
                    <td id='{{component.object_id}}'>{{component.object_name}}</td>
                    <td class='new' id="{{component.object_id}}">{{component.object_description}}</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td drop-component class='compDrop' colspan="3">Drop Function Here</td>
                </tr>
            </tbody>
        </table>
        <div class='description'>
        <button ng-disabled="dataTransfer.data[0].object_description.length == 0" ng-click="savekeywordDetails()">Save Description</button><br/>
        <textarea class='comment' ng-model=dataTransfer.data[0].object_description></textarea>

         <div id="depend">
         <div ng-if='dataTransfer.data[1].dependencies.length >= 1'>Used In {{dataTransfer.data[1].dependencies.length}} test:{{dataTransfer.data[1].dependencies.object_name}}</div>
         <div ng-if='dataTransfer.data[1].dependencies.length == 0'>This keyword is not used in any test</div>
        <ul class='dependencies'>
            <li ng-repeat="dependencies in dataTransfer.data[1].dependencies">
            <div class='dp'>{{dependencies.object_name}}</div>
            <div class='by'>{{dependencies.created_by}}</div>
            <div class='at'>{{dependencies.created_at}}</div>
            </li>
        </ul>
        </div>
    </div>
</div>
    <div ng-hide='isSelected() == 1'>
        <p>Please Select a keyWord</p>
    </div>
</section>